.container {
  width: min(75rem, 95%);
  margin-inline: auto;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  & > * {
    width: 100%;
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
}
